
<h1>Charlie Sheens Rock Paper Scissors = WINNING!!</h1>

<form action="/winning">
  <div class="form-group">
     <label for="p1">Player one choose your weapon, rock, paper or scissors?
     </label>
     <input id="p1" name="p1" class="form-control" type="text">
    </br>
    </br>
    </br>
    </br>


     <label for="p2">Player two choose your weapon, rock, paper or scissors?
     </label>
     <input id="p2" name="p2" class="form-control" type="text">
  </div>

    </br>
    </br>

  <button type="submit" class="btn-success">Send</button>
</form>
